.credits {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  max-width: 300px;
}

.credits img {
  height: 46px;
  width: auto;
}

.credits h1 {
  margin-bottom: 0;
}

h1 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 650px) {
  h1 {
    display: none;
  }
}

