.credits {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.credits img {
  height: 46px;
  width: auto;
  margin-right: 1rem;
}

.credits h1 {
  margin-bottom: 0;
}

h1 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
