<div class="flexContainer">
  <!-- <div class="timeLeft" *ngIf="timerProgress | async as progress">
    <div
      class="flexContainer"
      mat-raised-button
      #tooltip="matTooltip"
      matTooltip="{{ i18n.get('tooltipSession') }}"
      matTooltipPosition="below"
      matTooltipHideDelay="100"
    >
      <ng-container>
        <mat-progress-spinner class="spinner" color="primary" mode="determinate" diameter="35" [value]="progress.percentage">
        </mat-progress-spinner>
        <div class="overlay">
          <strong>{{ progress.text }}</strong>
        </div>
      </ng-container>
    </div>
  </div> -->
  <div class="flexColumn">
    <span class="date">{{ now | async | date : 'dd.MM.yyyy' }}</span>
    <span class="time">{{ now | async | date : 'HH:mm:ss' }}</span>
  </div>
</div>
