
.time {
  font-weight: bold;
  margin: 0;
  line-height: 20px;
}
.date {
  font-style: italic;
  margin: 0;
  line-height: 20px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
