.flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

mat-selection-list {
  margin-left: 20px;
  margin-right: 20px;
}

mat-form-field {
  width: 100%;
}

.font-bold {
  font-weight: bold;
}
