.filterAll button {
  margin-bottom: 14px;
}

.filterItem {
  height: 100%;
  width: 100%;
  padding: 8px;
}

.opaque {
  opacity: 0.4;
}

.eyeOverlay {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

.category-list-item {
  margin-left: -16px;
  margin-right: -16px;
}

.category-list-item-button ::ng-deep .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.category-color {
  min-height: 32px;
  min-width: 15px;
  max-width: 25px;
  margin: 2px 8px 2px 0px;
}
