:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/assets/img/login-bg-blurred.png') no-repeat center center fixed;
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 500px;

  .title {
    padding-bottom: 1.5em;
  }

  mat-card {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }

}

.card-overflow {
  max-height: 400px;
  overflow: auto;
}

.operation-list-item {
  display: flex;
  align-items: center;
}

.operations-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operations-actions {
  display: flex;
  justify-content: flex-end;
}

mat-card-actions button + button {
  margin-left: 12px;
}
