<mat-card class="toolbar" *ngIf="session | async as session">
  <div class="flexContainer alignCenter">
    <div class="credits">
      <div class="flexContainer">
        <app-credits></app-credits>
      </div>
    </div>
    <div class="tools">
      <div class="flexContainer alignCenter justifySpace flex-gap">
        <mat-card-title class="title">{{ session.title }}</mat-card-title>
        <div class="justify">
          <app-geocoder
            style="flex: 1; margin-top: -0.08em"
          ></app-geocoder>
        </div>
        <div class="right-header">
          <div class="clock">
            <app-clock></app-clock>
          </div>
          <button
            mat-stroked-button
            size="small"
            color="primary"
            class="noprint hideWhenCollapsed edit"
            [matMenuTriggerFor]="mainMenu"
          >
            <mat-icon aria-hidden="false" class="hamburger">menu</mat-icon>
          </button>
        </div>
        <mat-menu #mainMenu="matMenu" class="burger-menu">
          <button mat-menu-item (click)="$event.stopPropagation()">
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="i18n.get('exportSession')"
              >history</mat-icon
            >
            {{ i18n.get('history') }}
            <mat-slide-toggle
              (toggleChange)="toggleHistory()"
              [checked]="historyMode | async"
              color="primary"
            ></mat-slide-toggle>
          </button>
          <mat-divider></mat-divider>
          <button
            mat-menu-item
            (click)="createOrLoadSession()"
            *ngIf="!(historyMode | async)"
          >
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="i18n.get('createOrLoad')"
              >swap_calls</mat-icon
            >
            {{ i18n.get('createOrLoad') }}
          </button>
          <button mat-menu-item (click)="editSession()" *ngIf="!(historyMode | async)">
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="i18n.get('editMap')"
              >edit</mat-icon
            >
            {{ i18n.get('editMap') }}
          </button>
          <button mat-menu-item (click)="exportSession()" *ngIf="exportEnabled">
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="i18n.get('exportSession')"
              >save</mat-icon
            >
            {{ i18n.get('exportSession') }}
          </button>
          <mat-divider></mat-divider>
          <a
            mat-menu-item
            [download]="getDownloadFileName()"
            id="export"
            class="tools-menu-item"
            (click)="download()"
            [href]="downloadData"
            ><mat-icon
              aria-hidden="false"
              [attr.aria-label]="i18n.get('download')"
              >save</mat-icon
            >
            {{ i18n.get('downloadMap') }}</a
          >
          <button
            mat-menu-item
            class="tools-menu-item"
            (click)="importData()"
            *ngIf="!(historyMode | async)"
          >
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="i18n.get('importMap')"
              >open_in_browser</mat-icon
            >
            {{ i18n.get('importMap') }}
          </button>
          <button mat-menu-item (click)="clear()" *ngIf="!(historyMode | async)">
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="i18n.get('deleteMap')"
              >delete</mat-icon
            >
            {{ i18n.get('deleteMap') }}
          </button>
          <mat-divider></mat-divider>
          <button
            mat-menu-item
            class="tools-menu-item"
            [matMenuTriggerFor]="languages"
          >
            <mat-icon
              aria-hidden="false"
              [attr.aria-label]="i18n.get('language')"
              >language</mat-icon
            >
            {{ i18n.get('language') }}
          </button>
          <button
            mat-menu-item
            class="tools-menu-item"
            (click)="print()"
            *ngIf="!(historyMode | async)"
          >
            <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('print')"
              >local_printshop</mat-icon
            >
            {{ i18n.get('print') }}
          </button>
          <button mat-menu-item (click)="help()">
            <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('help')"
              >help</mat-icon
            >
            {{ i18n.get('help') }}
          </button>
          <mat-divider></mat-divider>
          <button
            mat-menu-item
            class="tools-menu-item"
            (click)="deleteSession()"
            *ngIf="!(historyMode | async)"
          >
            <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('logout')"
              >logout</mat-icon
            >
            {{ i18n.get('logout') }}
          </button>
        </mat-menu>
        <mat-menu #languages="matMenu">
          <button
            mat-menu-item
            *ngFor="let locale of locales"
            (click)="setLocale(locale)"
            [ngClass]="{ active: locale === i18n.locale }"
          >
            {{ i18n.get(locale) }}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-card>
