mat-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 0.5em;
  height: 66px;
}

app-geocoder {
  max-width: 480px;
  flex-grow: 2;
}

app-geocoder div {
  width: 100%;
}

@media print {
  .noprint {
    display: none;
  }

  .toolbar {
    display: none;
  }
}

.grouped {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

@media (max-width: 730px) {
  app-clock {
    display: none;
  }
}
