mat-card-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
  flex-shrink: 0;
}

h1 {
  margin: 0;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0.5em;
  height: 66px;
}

@media print {
  .noprint {
    display: none;
  }

  .toolbar {
    display: none;
  }
}

app-geocoder {
  max-width: 300px;
}

.grouped {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

@media (max-width: 800px) {
  .clock,
  mat-card-title
  {
    display: none;
  }
  app-geocoder {
    width: 100%;
  }
  .inputField {
    width: 100%;
  }
}
