<mat-toolbar>
  <div class="grouped">
    <app-credits />
  </div>
  <app-geocoder />
  <div class="grouped">
    <app-clock />
    <button mat-icon-button [matMenuTriggerFor]="mainMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <mat-menu #mainMenu="matMenu" class="noprint">
    <ng-container *ngIf="session.observeHasWritePermission() | async">
      <button mat-menu-item (click)="toggleHistory()" title="ALT+H">
        <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('exportSession')" *ngIf="!(historyMode | async)">history</mat-icon>
        <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('exportSession')" *ngIf="historyMode | async">brush</mat-icon>
        {{ (historyMode | async) ? i18n.get('drawMode') : i18n.get('history') }}
      </button>
      <mat-divider></mat-divider>
    </ng-container>
    <button mat-menu-item class="tools-menu-item" [matMenuTriggerFor]="languages">
      <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('language')">language</mat-icon>
      {{ i18n.get('language') }}
    </button>
    <button mat-menu-item class="tools-menu-item" (click)="print()" *ngIf="!(historyMode | async)">
      <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('print')">local_printshop</mat-icon>
      {{ i18n.get('print') }}
    </button>
    <button mat-menu-item class="tools-menu-item" [matMenuTriggerFor]="protocolOptions">
      <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('protocol')">list_alt</mat-icon>
      {{ i18n.get('protocol') }}
    </button>
    <button mat-menu-item (click)="help()">
      <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('help')">help</mat-icon>
      {{ i18n.get('help') }}
    </button>
    <mat-divider></mat-divider>
    <ng-container *ngIf="session.observeHasWritePermission() | async">
      <button mat-menu-item (click)="copyShareLink()">
        <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('copyShareLink')">share</mat-icon>
        {{ i18n.get('copyShareLink') }}
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="tools-menu-item" (click)="navigateEvents()">
        <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('navigateOperations')">logout</mat-icon>
        {{ i18n.get('navigateOperations') }}
      </button>
    </ng-container>
    <ng-container *ngIf="!(session.observeHasWritePermission() | async)">
      <button mat-menu-item class="tools-menu-item" (click)="session.logout()">
        <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('logout')">logout</mat-icon>
        {{ i18n.get('logout') }}
      </button>
    </ng-container>
  </mat-menu>
  <mat-menu #languages="matMenu">
    <button mat-menu-item *ngFor="let locale of locales" (click)="setLocale(locale)" [ngClass]="{ active: locale === session.getLocale() }">
      {{ i18n.get(locale) }}
    </button>
  </mat-menu>
  <mat-menu #protocolOptions="matMenu">
    <button mat-menu-item class="tools-menu-item" (click)="protocolTable()">
      <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('protocolTable')">table_chart</mat-icon>
      {{ i18n.get('protocolTable') }}
    </button>
    <button mat-menu-item class="tools-menu-item" (click)="protocolExcelExport()">
      <mat-icon aria-hidden="false" [attr.aria-label]="i18n.get('protocolSaveAsExcel')">save</mat-icon>
      {{ i18n.get('protocolSaveAsExcel') }}
    </button>
  </mat-menu>
</mat-toolbar>
