.wrapper {
  display: flex;
  align-items: center;
  margin: 1em;
  flex-wrap: wrap;
}

.wrapper img {
  max-height: 33px;
  max-width: 33px;
}

.wrapper button {
  align-items: center;
  min-width: unset;
  line-height: unset;
  padding: 5px;
  margin: 0 10px 0 10px;
}

.container {
  margin: 20px 0;
}
