.coordinates {
  background: white;
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.coords {
  display: flex;
  flex-direction: column;
}
.menu {
  padding-left: 5px;
  cursor: pointer;
}
