<div class="content">
  <div style="z-index: 10; position: relative">
    <app-toolbar></app-toolbar>
  </div>
  <mat-sidenav-container style="flex: 1">
    <mat-sidenav class="sidenav" position="end" mode="side" #sidenav [opened]="(sidebarContext$ | async) !== null">
      @switch (sidebarContext$ | async) {
        @case (sidebarContext.Filters) {
          <app-sidebar-filters></app-sidebar-filters>
        } @case (sidebarContext.Layers) {
          <app-sidebar></app-sidebar>
        } @case (sidebarContext.History) {
          <app-sidebar-history></app-sidebar-history>
        }
      }
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="map">
        <app-map-renderer></app-map-renderer>
      </div>
      <app-selected-feature></app-selected-feature>
      <app-fab-menu *ngIf="!(state.observeIsReadOnly() | async)" [layer]="(activeLayer$ | async) ?? undefined"></app-fab-menu>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
