.map {
  width: 100%;
  height: 100%;
}

.ol-overlaycontainer-stopevent {
  display: none !important;
}

.zoom {
  position: absolute;
  top: 30px;
  right: 30px;
}

.zoom button {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.zoom .mat-icon-button {
  line-height: 1;
}

.zoom .mat-icon {
  font-size: 2em;
  height: auto;
  width: auto;
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  pointer-events: none;
  user-select: none;
  margin-left: 1em;
  margin-top: -10px;
}

.coordinates {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  user-select: text;
}
.coordinates .material-icons {
  user-select: none;
  margin-left: 5px;
  transform: scale(-1, 1);
}

@media (max-width: 650px) {
  .coordinates {
    font-size: 10px;
    padding: 0 5px;
    line-height: 0;
  }
  .coordinates .material-icons {
    transform: scale(-0.75, 0.75);
  }
}

.edit-button {
  position: absolute;
  z-index: 200000;
  transform: translateX(-50%) translateY(-50%);
}
