<div #mapElement id="map" class="map"></div>
<div class="zoom noprint">
  <button
    mat-icon-button
    [color]="(sidebarContext | async) === sidebarContextValues.Connections ? 'primary' : 'basic'"
    (click)="setSidebarContext(sidebarContextValues.Connections)"
    [attr.aria-label]="i18n.get('connections')"
  >
    <mat-icon *ngIf="isOnline | async" [matBadge]="connectionCount | async" matBadgePosition="after">people</mat-icon>
    <mat-icon *ngIf="!(isOnline | async)" [matBadge]="0" matBadgeColor="warn" matBadgePosition="after">cloud_off</mat-icon>
  </button>

  <button class="mat-elevation-z3" mat-icon-button (click)="zoomIn()" [attr.aria-label]="i18n.get('zoomIn')">
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button class="mat-elevation-z3" mat-icon-button (click)="zoomOut()" [attr.aria-label]="i18n.get('zoomOut')">
    <mat-icon>zoom_out</mat-icon>
  </button>
  <button
    class="mat-elevation-z3"
    mat-icon-button
    [color]="(sidebarContext | async) === sidebarContextValues.Layers ? 'primary' : 'basic'"
    (click)="setSidebarContext(sidebarContextValues.Layers)"
    [attr.aria-label]="i18n.get('layers')"
  >
    <mat-icon>layers</mat-icon>
  </button>
  <button
    class="mat-elevation-z3"
    mat-icon-button
    [color]="(sidebarContext | async) === sidebarContextValues.Filters ? 'primary' : 'basic'"
    (click)="setSidebarContext(sidebarContextValues.Filters)"
    [attr.aria-label]="i18n.get('filters')"
  >
    <mat-icon>filter_alt</mat-icon>
  </button>

  <button
    class="mat-elevation-z3"
    mat-icon-button
    [color]="(sidebarContext | async) === sidebarContextValues.History ? 'primary' : 'basic'"
    (click)="setSidebarContext(sidebarContextValues.History)"
    [attr.aria-label]="i18n.get('history')"
    *ngIf="isReadOnly | async"
  >
    <mat-icon>history</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="(sidebarContext | async) !== null"
    (click)="setSidebarContext(null)"
    color="accent"
    [attr.aria-label]="i18n.get('close')"
  >
    <mat-icon>close</mat-icon>
  </button>

  <button mat-mini-fab class="edit-button" color="warn" #delete>
    <i class="material-icons">delete_forever</i>
  </button>
  <button mat-mini-fab class="edit-button rotate-button" color="primary" #rotate>
    <i class="material-icons">rotate_left</i>
  </button>
  <button mat-mini-fab class="edit-button" color="primary" #copy>
    <i class="material-icons">content_copy</i>
  </button>

  <button mat-mini-fab class="edit-button" color="primary" #draw>
    <mat-icon>stars</mat-icon>
  </button>
  <button mat-mini-fab class="edit-button" #close>
    <mat-icon>close</mat-icon>
  </button>

  <ng-container *ngIf="mousePosition | async as mousePosition">
    <div
      class="tooltip noprint"
      *ngIf="currentSketchSize | async as sketchSize"
      [style.left.px]="mousePosition[0]"
      [style.top.px]="mousePosition[1]"
      [innerHTML]="sketchSize"
    ></div>
  </ng-container>
</div>
<div class="coordinates">
  <ng-container *ngIf="{ feature: selectedFeature | async } as context">
    <span *ngIf="!context.feature">
      <ng-container *ngIf="mouseProjection | async as mouseProjection">{{ mouseProjection }}</ng-container>
    </span>
    <span *ngIf="context.feature">
      <ng-container *ngIf="selectedFeatureCoordinates | async as selectedFeatureCoordinates">
        {{ selectedFeatureCoordinates }}
      </ng-container>
    </span>
    <i class="material-icons" (click)="rotateProjection()">change_circle</i>
  </ng-container>
</div>
