.map {
  width: 100%;
  height: 100vh;
}

.ol-overlaycontainer-stopevent {
  display: none !important;
}


.zoom {
  position: absolute;
  top: 30px;
  right: 30px;
}

.zoom button {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.zoom .mat-icon-button {
  line-height: 1;
}

.zoom .mat-icon {
  font-size: 2em;
  height: auto;
  width: auto;
}
