<main>
  <div style="z-index: 10; position: relative">
    <app-toolbar></app-toolbar>
  </div>
  <mat-sidenav-container style="flex: 1">
    <mat-sidenav position="end" mode="side" #sidenav style="width: 350px" [opened]="sidebarOpen$ | async">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="map">
        <app-map-renderer></app-map-renderer>
      </div>
      <app-fab-menu [layer]="(activeLayer$ | async) ?? undefined"></app-fab-menu>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
