<div class="fab-menu">
  <button mat-fab color="primary" aria-label="Add" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <mat-icon class="add-icon" [class.skewed]="isOpen">add</mat-icon>
  </button>
</div>

<div class="fab-background" [class.isOpen]="isOpen" (click)="closeBackdrop()"></div>

<!-- This template displays the overlay content and is connected to the button -->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
  <ul class="fab-menu-list">
    <li>
      <button mat-fab (click)="openTextDialog()" [matTooltip]="i18n.get('text')" matTooltipPosition="left" [attr.aria-label]="i18n.get('text')">
        <mat-icon>font_download</mat-icon>
      </button>
    </li>
    <li>
      <button mat-fab (click)="polygon()" [matTooltip]="i18n.get('polygon')" matTooltipPosition="left" [attr.aria-label]="i18n.get('polygon')">
        <mat-icon>widgets</mat-icon>
      </button>
    </li>
    <li>
      <button mat-fab (click)="line()" [matTooltip]="i18n.get('line')" matTooltipPosition="left" [attr.aria-label]="i18n.get('line')">
        <mat-icon>show_chart</mat-icon>
      </button>
    </li>
    <li>
      <button mat-fab (click)="toggleFreeHandDraw()" [matTooltip]="i18n.get('freehand')" matTooltipPosition="left" [attr.aria-label]="i18n.get('freehand')">
        <mat-icon>gesture</mat-icon>
      </button>
    </li>
    <li>
      <button mat-fab (click)="openDrawDialog()" [matTooltip]="i18n.get('symbol')" matTooltipPosition="left" [attr.aria-label]="i18n.get('symbol')">
        <mat-icon>stars</mat-icon>
      </button>
    </li>
  </ul>
</ng-template>
