.container {
  min-width: 70vw;
  min-height: 70vh;
  max-width: 100%;
  max-height: 60vh;
}

.categoryDot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px;
  gap: 16px;
  flex-grow: 1;
}

.flexGrow {
  flex-grow: 1;
}

.row {
  cursor: pointer;
}

.mat-column-symbol {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-mdc-table .mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.overflow-auto {
  overflow-x: auto;
  margin: 0 20px;
}

@media screen and (max-width: 700px) {
  .filter {
    flex-direction: column;
  }
}
