<div mat-dialog-content>
  <div class="loading" *ngIf="!this.history">
    <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
  </div>
  <div *ngIf="this.history">
    <mat-radio-group aria-label="Select an option" [(ngModel)]="withHistory">
      <p>
        <mat-radio-button value="withHistory" checked>{{ i18n.get('withHistory') }}</mat-radio-button>
      </p>
      <p>
        <mat-radio-button value="withoutHistory">{{ i18n.get('withoutHistory') }}</mat-radio-button>
      </p>
    </mat-radio-group>
  </div>
</div>
<div mat-dialog-actions align="end" *ngIf="this.history">
  <button mat-raised-button mat-dialog-close="true">
    {{ i18n.get('cancel') }}
  </button>
  <a
    mat-raised-button
    color="primary"
    [download]="getDownloadFileName()"
    id="exportSessionWithoutHistory"
    (click)="exportSession()"
    [href]="downloadData"
    mat-dialog-close="true"
    ><i class="material-icons">save</i> {{ i18n.get('exportSession') }}</a
  >
</div>
