<div class="geocoder">
  <div class="mat-form-field-appearance-fill">
    <div
      class="mat-form-field-flex"
      style="padding: 0.75em; align-items: center"
    >
      <input
        mat-input
        class="mat-input-element input"
        [placeholder]="i18n.get('findPlace')"
        [matAutocomplete]="auto"
        [(ngModel)]="inputText"
        (ngModelChange)="geoCodeLoad()"
        #searchField
      />
      <mat-icon aria-hidden="false" aria-label="Search">search</mat-icon>
    </div>
  </div>
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="getLabel"
    (optionSelected)="geoCodeSelected($event)"
  >
    <mat-option
      *ngFor="let location of foundLocations"
      [value]="location.attrs"
      (mouseenter)="previewCoordinate(location.attrs)"
      (mouseleave)="goToCoordinate(false)"
    >
      <span
        [innerHTML]="location.attrs.label"
        [title]="getLabel(location.attrs)"
      ></span>
    </mat-option>
  </mat-autocomplete>

  <div *ngIf="selected" class="currentLocation">
    <img src="assets/img/place.png" />
    <div class="alignCenter">
      <span class="currentLocationLabel">{{ getLabel(selected) }}</span>
    </div>
    <button mat-icon-button (click)="removeSelectedLocation()">
      <i class="material-icons" [title]="i18n.get('removeSymbol')">close</i>
    </button>
  </div>

  <!-- <input #geocode type="text"  placeholder="">-->
</div>
