.mat-option {
  font-size: 0.7em;
}

mat-form-field {
  width: 100%;
  --mdc-outlined-text-field-container-shape: 28px !important;
  background-color: white;
  border-radius: 28px;
  pointer-events: auto;
  overflow: hidden;
}
