.mat-option {
  font-size: 0.7em;
}

.geocoder {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.currentLocation {
  display: flex;
  align-items: center;
}

.currentLocation img {
  height: 30px;
  margin-right: 6px;
}

.currentLocationLabel {
  font-size: 12px;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.mat-mdc-form-field-bottom-align {
  height: 0;
}

@media (max-width: 550px) {
  .geocoder {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}
