:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/assets/img/login-bg-blurred.webp') no-repeat center center fixed;
  background-size: cover;
}

.title {
  padding-bottom: 1.5em;
  align-items: center;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 500px;

  mat-card {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  .login-button {
    width: 100%;
  }

  .alternative-login-button {
    width: 100%;
  }
}

.login-logo {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  border-radius: 0.75rem;
}

.option-wrapper {
  display: flex;
  align-items: center;
  min-height: 2.8rem;
  gap: 0.5rem;
}

.mat-form-field-suffix {
  cursor: pointer;
}

mat-card:first-child {
  padding: 1rem;
}
