:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/assets/img/login-bg.webp') no-repeat center center fixed;
  background-size: cover;
}

.title {
  padding-bottom: 1.5em;
  align-items: center;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 400px;

  .full-width {
    width: 100%;
  }

  .login-button {
    width: 100%;
  }
}

.guest-login {
  margin-top: 8px;
}

.guest-login-button:not(:disabled) {
  color: white;
}

.login-logo {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  border-radius: 0.75rem;
}

.option-wrapper {
  display: flex;
  align-items: center;
  min-height: 2.8rem;
  gap: 0.5rem;
}
