<mat-accordion multi displayMode="flat">
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ i18n.get('currentMap') }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="selectedLayer" *ngIf="mapState.getActiveLayer() as layer">
        <div class="titleRow">
          <div class="title">{{ layer.observeName() | async }}</div>
        </div>
        <div>
          <mat-slider [max]="1" [min]="0" [step]="0.1" style="width: 100%">
            <input matSliderThumb [ngModel]="mapState.observeMapOpacity() | async" (ngModelChange)="mapState.setMapOpacity($event)" />
          </mat-slider>
        </div>
        <mat-action-list *ngFor="let mapSource of mapSources">
          <mat-radio-group>
            <mat-radio-button [value]="mapSource.key" (click)="switchMapSource(mapSource.key)" [checked]="mapSource.selected">
              {{ mapSource.translation }}
            </mat-radio-button>
          </mat-radio-group>
          @if (isDownloadableMap(mapSource.key)) {
            <div>
              @switch (mapDownloadStates[mapSource.key]) {
                @case ('loading') {
                  <mat-progress-bar color="primary" mode="indeterminate" />
                }
                @case ('downloaded') {
                  <button mat-flat-button color="warn" color="warn" class="button-download" (click)="removeLocalMap(mapSource.key)">
                    Remove
                  </button>
                }
                @default {
                  <button mat-flat-button color="primary" class="button-download" (click)="downloadMap(mapSource.key)">Download</button>
                }
              }
            </div>
          }
        </mat-action-list>
      </div>
    </ng-template>
  </mat-expansion-panel>
  <ng-container *ngIf="(mapState.observeSelectedMapLayers$() | async)?.length ?? 0 > 0">
    <mat-divider></mat-divider>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ i18n.get('layers') }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="allSelected">
          <div
            *ngFor="let item of mapState.observeSelectedMapLayers$() | async; let index = index; let first = first; let last = last"
            title="{{ item.label }}"
            class="selectedLayer"
          >
            <div class="titleRow">
              <div class="title">{{ item.label }}</div>
              <i (click)="showLegend(item)" class="material-icons">info</i>
              <i (click)="showWmsLayerOptions(item, index)" *ngIf="mapState.isExpertView() && item.source && (item.type === 'wms' || item.type === 'wms_custom')" class="material-icons">settings</i>
              <i (click)="mapState.toggleMapLayer(item, index)" *ngIf="!item.hidden" class="material-icons">visibility_off</i>
              <i (click)="mapState.toggleMapLayer(item, index)" *ngIf="item.hidden" class="material-icons">visibility_on</i>
              <i (click)="mapState.removeMapLayer(index)" class="material-icons">remove_circle_outline</i>
              <i (click)="mapState.sortMapLayerUp(index)" *ngIf="!first" class="material-icons">arrow_upward</i>
              <i (click)="mapState.sortMapLayerDown(index)" *ngIf="!last" class="material-icons">arrow_downward</i>
            </div>
            <div>
              <mat-slider [max]="1" [min]="0" [step]="0.1" [disabled]="item.hidden">
                <input matSliderThumb [ngModel]="item.opacity" (ngModelChange)="mapState.setMapLayerOpacity(index, $event)" />
              </mat-slider>
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
          </div>
          <button mat-raised-button class="expertButton" color="primary" *ngIf="mapState.isExpertView()" (click)="addNewLayer()" [innerText]="i18n.get('addNewLayer')"></button>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </ng-container>
  <mat-divider></mat-divider>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ i18n.get('favoriteLayers') }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-action-list class="availableLayers" *ngIf="favouriteLayers$ | async as favouriteLayers">
        <span *ngIf="favouriteLayers?.length === 0">{{ i18n.get('noMoreFavorites') }}</span>
          <button
            *ngFor="let item of favouriteLayers"
            mat-list-item
            (click)="selectLayer(item)"
            title="{{ item.label }} ({{item.source ? (item.source.label ?? item.source.url) : 'GeoAdmin'}})"
          >
            {{ item.label }}
          </button>
      </mat-action-list>
    </ng-template>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ i18n.get('availableLayers') }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="sourceControl">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>{{ i18n.get('layerSource') }}</mat-label>
          <mat-select [formControl]="sourceFilter">
            <mat-option value="ALL">{{ i18n.get('allSources') }}</mat-option>
            <mat-option value="_GeoAdmin_">GeoAdmin</mat-option>
            <mat-option *ngFor="let item of mapState.observeWmsSources$() | async" [value]="item.url">
              {{item.label}} <mat-icon class="wmsSourceError" *ngIf="wmsSourceLoadErrors[item.url]" [title]="wmsSourceLoadErrors[item.url]">warning</mat-icon>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button *ngIf="mapState.isExpertView()" (click)="editWmsSources()"><mat-icon [attr.aria-label]="i18n.get('editWmsSources')">edit</mat-icon></button>
      </div>
      <mat-form-field appearance="outline">
        <mat-label> {{ i18n.get('filter') }}</mat-label>
        <input type="text" matInput [formControl]="layerFilter"
      /></mat-form-field>
      <mat-action-list class="availableLayers">
        <button
          *ngFor="let item of filteredAvailableLayers$ | async"
          mat-list-item
          (click)="selectLayer(item)"
          title="{{ item.label }} ({{item.source ? (item.source.label ?? item.source.url) : 'GeoAdmin'}})"
        >
          {{ item.label }}
        </button>
      </mat-action-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
