.screenshot {
  width: 30vw;
  border: 1px solid black;
  text-align: center;
}
.screenshot img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 1em auto;
}

.section {
  display: flex;
}

.section .description {
  margin-right: 1em;
  flex: 1;
}

.section h2 {
  font-size: 1.1em;
}

.lineBreak {
  width: 100%;
  height: 1px;
}
